
<br>
<br>
<hr>
<div class="container-fluid">
    <div class="jumbotron bg-dark text-white">
    <div class="row">
        <div class="col col-md-5">

        
                <h3><strong>About Us:</strong> </h3>
                <hr>
                
                
                <h6>
                    Nesara tours is one of the leading travel agents and tour operators in India. We are the first choice for many of our customers from organizations like ISRO, BSNL, Nationalized Banks, SAIL and other Government and Non-government organizations. Today,Nesara Tourism is at its heights only because we continuously strive to improve our service to our customers by introducing different packages to various corners of India and even customized packages, too.
                </h6>
        </div>
        <div class="col col-md-6">
            <h3><strong>Contact US:</strong></h3>
            <hr>
            <div class="row">
                <div class="col ">
                    <p>
                        Head Office: Bengaluru
                
                        Address: 1467, 1ST Floor, 17th Main Road, Muneshwara Block, Banashankari, Bengaluru, Karnataka- 560026
                        Tel: 09535520006, 9535530006
                    </p>
                    <hr>
                    <p>
                        Branch Office : Rajasthan
                    
                        Address: No 6, Gaytri Building opp. M.I.Road Jaipur Rajasthan
                        Tel: 0141–4022231
                    </p>
                    <hr>
                    <p>
                        Branch Office : Andaman
                    
                        Address: Bhavani complex, near durga mandir, nayagaon, port blair
                        south andaman 744106
                    </p>
                </div>
                <div class="col ">
                    <p>
                        Branch Office : Bengaluru
                    
                        Address: No 3 , Ground Floor No 19 Sarvice Road , Nagarabavi, Bangalore
                        Karnataka -560026
                        Tel: 080 50080105, 09686013130, 9449995626
                    </p>
                    <hr>
                    <p>
                        Branch Office : Sirsi
                    
                        Address: Nayak Building, Hospete Road, Sirsi, Uttara Kannada, 581 401
                        Tel : 9449995626, 09686013130
                    </p>
                
                </div>
            </div>
        </div>

        </div>
    </div>


</div>